.fullWidth {
    width: 100%;
}
.card {
    border: none;
}
.card-content {
    margin: 2%;
    background-color: navajowhite
}
.card-title {
    margin-top: 2%;
}

@media screen and (max-width: 992px) and (min-width: 0px) {
    /*Mobile*/
    /*ipad*/
    
    .updateCard,
    .newCard {
        position: absolute;
        float: none;
        margin: 0 auto;
        width: 70%;
        top: 10%;
        left: 15%;
    }
    textarea {
        height: 250px;
    }
}
@media screen and (max-width: 8000px) and (min-width: 992px) {
    /*Laptop*/
    /*large screens*/
    
    .updateCard,
    .newCard {
        position: absolute;
        top: 5%;
        left: 40%;
        float: none;
        margin: 0 auto;
        width: 20%;
    }
    textarea {
        height: 250px
    }
    .card {
        height: 117px
    }
    .card-title {
        height: 55px;
    }

}