<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   <h1 class="h1">
      Enjoy your Todos
   </h1>
   <button (click)="newClicked()" type="button" class="btn btn-primary">Add new</button>
   <div class="container-fluid">
      <div class="row">
         <div *ngFor="let todo of todoList" class="card col-xl-6 col-md-6">
            <div class="card-content">
               <h4 class="card-title"> {{todo.description}}</h4>
               <div class="icon-arrow-right pull-right">
                  <button (click)="onupdateClick(todo._id,todo.description)" type="button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                  <button (click)="deleteCard(todo._id)" type="button" class="">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>          
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="isNewClicked" class="card newCard">
   <textarea [(ngModel)]="newCardDescription">
   </textarea>
   <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6 col-xs-6">
         <button (click)="createNewCard()" type="button" class="btn btn-success fullWidth">Ok</button>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6 col-xs-6">
         <button (click)="cancel()" type="button" class="btn btn-primary fullWidth">Cancel</button>
      </div>
   </div>
</div>
<div *ngIf="isUpdateClicked" class="card updateCard">
   <textarea [(ngModel)]="updateCardDescription">
   </textarea>
   <div class="row">
      <div class="col-sm-6 col-md-6 col-xl-6 col-xs-6">
         <button (click)="updateCard()" type="button" class="btn btn-success fullWidth">Ok</button>
      </div>
      <div class="col-sm-6 col-md-6 col-xl-6 col-xs-6">
         <button (click)="cancel()" type="button" class="btn btn-primary fullWidth">Cancel</button>
      </div>
   </div>
</div>